<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aleasignature.emailfetcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/albertogala/Library/CloudStorage/Dropbox/Alea Antigravity/scripts/fetch_simple.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>IMAP_PASSWORD</key>
        <string>Gala@1998</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>45</integer>
        </dict>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/email_fetcher.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/email_fetcher_error.log</string>
</dict>
</plist>
